@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f8fafc;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
